<link rel="stylesheet" href="/css/sign_up.css">

<div id="sign_up">
    <div id="sign-in-fields">
        <form action="/sign-up/create/user" method="post">
            <input type="text" name="name" id="name" placeholder="Name" class="fields" required>
            <input type="email" name="email" id="email" placeholder="Email" class="fields" required>
            <input type="password" name="password" id="password" placeholder="password" class="fields" required>
            <input type="password" name="confirm_password" id="confirm_password" placeholder="confirm_password" class="fields" required>
            <input type="submit" value="SIGN-UP" id="sign-up" class="fields">
        </form>
    </div>
</div>