*{
    margin: 0;   
}
#sign_up{
    height: 320px;
    width: 600px;
    margin-left: 400px;
    margin-top: 33px;
    border: 1px solid whitesmoke;
    background-image: linear-gradient(to right, #141e30, #243b55);
}
#sign-in-fields{
    height: 200px;
    width: 500px;
    margin-left: 50px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}
.fields{
    width: 300px;
    height: 30px;
    margin-left: 100px;
    margin-bottom: 15px;
}
#sign-in-fields input{
    margin-top: 10px;
    background-color: whitesmoke;
}

#sign-up-fields{
    margin-left: 200px;
    margin-top: -30px;
}
#sign-up-fields p{
    color: whitesmoke;
    font-size: 1.2rem;
}

#sign-up{
    width: 500px;
    margin-left: -150px;
    margin-top: 15px;
    background-color: whitesmoke;
    cursor: pointer;
}
#sign-in{
    background-color: green;
    cursor: pointer;
    height: 24px;
    width: 500px;
    margin-left: 0px;
}
#sign-up-google{
    margin-left: 200px;
    margin-top: 15px;
}
#sign-up-google p{
    color: whitesmoke;
}
#sign-up-google-btn{
    background-color: red;
    width: 500px;
    margin-left: -150px;
    margin-top: 15px;
    cursor: pointer;
}

